/* 
GLOBAL
The following are global style rules. 
*/
@font-face {
    font-family: 'bd_cartoon';
    src: url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.eot');
    src: url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.woff2') format('woff2'),
         url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.woff') format('woff'),
         url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.ttf') format('truetype'),
         url('../fonts/bd_cartoon_shout/bd_cartoon_shout-webfont.svg#bd_cartoon_shoutregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	overflow-x:hidden;
	overflow-y:scroll;
}
body{
	margin:0%;
	background-color: rgb(0,0,0);
	background-image:url('/static/images/wallpapers/projector.jpg');
	background-size:700px auto;
	background-position:top right;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#loading_screen{
	background-color:black;
	height:100%;
	position:fixed;
	right:0%;
	bottom:0%;
}
.title_font{
	font-family: "bd_cartoon";
	font-size: 22pt;
	font-weight: bold;
	color:white;
}
.sub_title_font{
	font-size: 14.5pt;
	color:white;
	font-family: bd_cartoon;
}
.basic_font{
	font-size:13pt;
	color:white;
}
/* 
TAB BAR
The Following is the style for the Tab Bar located 
on the far left of the screen
*/
#tab_bar:nth-child(1){
	padding-top:15px;
}
#tab_bar{
	position:fixed;
	top:0%;
	left:0%;
	width:60px;
	height:100%;
	background-color:rgb(143,0,0);
	border-right: solid 3px rgb(57,57,57);
}
.tab{
	padding:1px 3px 1px 4px;
	width:92%;
	display:inline-block;
	cursor:pointer;
	border-bottom:solid 1.5px white;
	background-color: rgba(0,0,0,.3);
	position: relative;
}
.tab:hover{
	background-color:rgba(0,0,0,.8);
}
.tab_icon{
	width:90%;
}
.subtab_icon{
	width:30px;
	margin-left:8px;
	cursor:pointer;
}

.tab:hover .hover_menu{
	display: block;
	top:-17px;
	left:18px;
}
.hover_menu{
	position: absolute;
	list-style-type: none;
	width:300px;
	display:none;
}
.hover_menu > li{
	width:100%;
	margin-left:1.5px;
	background-color:rgb(0,0,0);
	padding:5px;
	border-bottom:solid 1.5px white;
}
.hover_menu > li:hover{
	background-color:gray;
}
.hover_menu > li > span > a{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-family: bd_cartoon;
	vertical-align: middle;
}

/* 
CONTENT PAGES
The following is style for the Content contained
in the Content Pages. 
*/
#content_wrapper{
	margin-left:60px;
}
#content_page{
	padding-left:5px;
	width:95%;
	margin:auto;
	background-color:rgba(0,0,0,.3);
}
.content_page_title{
	width:95%;
	border-bottom:solid 1.5px white;
	padding:5px;
	color:white;
}
a{
	text-decoration: none !important;
}
.page_title_image{
	margin:0px;
	width:37px;
	vertical-align: bottom;
	cursor:pointer;
}
.title_font> span{
	float:right;
}
/*
Style relating to home page below
*/
.stats_table{
	width:40%;
	margin-top:10px;
}
.stats_table > table > thead > tr{
	width:100%;
}
.stats_table > table > thead > tr > td{
	background-color: rgb(0,0,0);
	color:white;
	width:100%;
	cursor:pointer;
}
.stats_table > table > tbody{
	background-color: rgba(0,0,0,.6);
	color:white;
	cursor:pointer;
}
.stats_table > table > tbody{
	background-color: rgba(0,0,0,.6);
	color:white;
	cursor:pointer;
}
.stats_table > table > tbody > tr{
	width:90%;
}
.stats_table > table > tbody > tr:nth-child(odd){
	background-color: rgba(255,0,0,.2);
}
.stats_table > table > tbody > tr > td{
	padding:5px;	
}

/* Collection Page */
.content_side_bar{
	width:45%;
	background-color:rgba(255,255,255,.2);
	display:inline-block;
}
.content_side_bar > span{
	float: right;
}



#footer{
	width:95%;
	min-height:170px;
	margin-left:6.6%;
	background-color: rgb(0,0,0);
	text-align: left;
	border-top:solid 1px rgba(255,255,255,.6);
}
#footer > ul{
	list-style-type: none;
	margin-right:45px;
	display: inline-block;
	vertical-align: top;
}
#footer > ul > li > a{
	color:white;
	font-size: 14pt;
}
#footer > ul > li > a:hover{
	color:red;
}
#footer > span{
	margin-right:45px;
}
.small_font{
	color:white;
	font-size:10pt;
}

.view_btn{
	width:35px;
	margin-right:5px;
	padding:3px;
	cursor:pointer;
	float:right;
}
.view_btn_hidden{
	display:none;
}
.view_btn_visible{
	display:inline-block;
}
.page_tabs{
	width:100%;
	margin-top:5px;
	padding:5px;
}
.page_tabs > ul{
	list-style-type: none;
	margin:0px;
	margin-left: 5px;
	padding:0px;
}
.page_tabs > ul > li{
	display:inline;
	width:18%;
	text-align: center;
	padding:10px;
	background-color:black;
	cursor:pointer;
	border:solid 1.5px white;
}
.page_tabs > ul > li:hover{
	background-color: rgb(170,170,170);
}
.page_tabs > ul > li > a{
	font-family: bd_cartoon;
	font-size: 14pt;
	color:white;
	text-decoration: none;
}
.selectabox{
	resize:none;
	width:96%;
	height:100px;
}
.popup_dlg{
	display:none;
	padding:10px;
	width:50%;
	height:auto;
	position:fixed;
	top:20%;
	left:20%;
	background-color: rgb(255,255,255);
}
.popup_title{
	color:white;
	background-color:black;
	font-size: 16pt;
	font-family: bd_cartoon;
	padding:5px;
}
.confirm_btn, .cancel_btn{
	width:49%;
	height:36px;
	color:black;
	font-family: bd_cartoon
}
.cancel_btn{
	background-color:rgb(100,100,100);
}
.confirm_btn{
	background-color:rgb(255,100,100);
}
#backlight_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0%;
	left:0%;
	background-color:rgba(0,0,0,.7);
	display:none;
}
.long_form{
	width:50%;
	height:400px;
	resize:none;
	overflow-y:scroll;
}

.poster_img{
	width:182px;
	height:auto;
	vertical-align: middle;
}

#back_to_top{
	display:none;
	z-index:15;
	text-align: center;
	padding:15px;
	position:fixed;
	border-radius:15px;
	border: solid 1.5px rgba(255,255,255,.8);
	background-color: rgba(0,0,0,.7);
	bottom:2%;
	right:2%;	
}
#back_to_top:hover{
	background-color: rgba(75,75,75,.7);
}
#back_to_top >a >img{
	opacity:.6;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,.4); 
}


span[title]:hover:after, a[title]:hover:after, img[title]:hover:after{
	content: attr(title);
	position: absolute;
	z-index: 20;
	padding: 4px 8px;
	max-width:400px;
	padding:5px;
	font-size: 10pt;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}