.scroll_page{
	width:90%;
	margin-left:5%;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.1));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.4)),color-stop(1, rgba(255,255,255,.1)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.1));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.1));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.1));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.1));

}
.title_wrapper{
	width:85%;
	margin-left:5%;
	border-top-right-radius:15px;
	background-color: black;
	padding:15px;
}
.text_col{
	background-color: rgba(0,0,0,.8);
	margin-left:5%;
	width:85%;
	padding:15px;
}
p{
	padding:15px;
}
.textcol_img{
	width:90%;
	margin-left:2.5%;
	margin-right: 2.5%;
}
